body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.cleaner {
  clear: both;
  font-size: 1px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.container {
	margin:auto;
}

#content {
	margin: 20px 10px 0px 10px;
}

#header {
	/*height: 150px;*/
	clear:both;
}

#header img {
	/*float: right;*/
	/*clear: both;*/
	float:left;
}

#primary-nav {
	float:left;
	padding-left: 30px;
}

#flash_notice {
	float:left;
	font-size: 1.5em;
	color: #316ac5;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top: 60px;
}

#flash_alert {
	float:left;
	font-size: 1.5em;
	color: #316ac5;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top: 60px;
}


#map {
	margin: auto;
	border: #aeaeae solid 8px;
}

h1.map-name {
	text-align: center;
	background: #3f3f3f;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	color: #ffffff;
	margin: auto;
	margin-bottom: 1em;
	padding:10px;
	width:60%;
}

#map-list {
	width: 60%;
	background: #efefef;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	margin: 2em auto 2em;
	padding:20px;
}

#map-list #navcontainer { width: 100%; }

#map-list #navcontainer ul {
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
}

#map-list #navcontainer li a {
	font-size: 2em;
	display: block;
	padding-top: 3%;
	padding-bottom: 3%;
	padding-left: 2%;
	padding-right: 2%;
	width: 80%;
	line-height: 1.0em;
	margin: auto;
	text-align:center;
}

#map-list .remove-map {
	float: right;
	font-size: 0.5em;
}

#map-list #navcontainer a:link, #navlist a:visited
{
color: #000;
text-decoration: none;
}

#map-list #navcontainer a:hover
{
background-color: #369;
color: #fff;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
}

#welcome {
	width: 70%;
	background: #efefef;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	margin: 2em auto 2em;
	padding:20px;
	text-align: center;
}

#map-list h1 {
	text-align: center;
}

#map-list a.new-map {
	margin-left: 30px;
}

table {
	margin: auto;
}

.path-set {
	padding-top: 20px;
}

