body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.cleaner {
  clear: both;
  font-size: 1px;
}

a { color: #000; }
a:visited { color: #666; }


.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.container {
	margin:auto;
}

#content {
	margin: 20px 10px 0px 10px;
}

#header {
	/*height: 150px;*/
	clear:both;
}

#header img {
	/*float: right;*/
	/*clear: both;*/
	float:left;
}

#primary-nav {
	float:left;
	padding-left: 30px;
}

#flash_notice {
	float:left;
	font-size: 1.5em;
	color: #316ac5;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top: 60px;
}

#flash_alert {
	float:left;
	font-size: 1.5em;
	color: #316ac5;
	padding-left: 30px;
	padding-bottom: 10px;
	padding-top: 60px;
}


#map {
	margin: auto;
	border: #aeaeae solid 8px;
}

h1.map-name {
	text-align: center;
	background: #3f3f3f;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	color: #ffffff;
	margin: auto;
	margin-bottom: 1em;
	padding:10px;
	width:60%;
}

#map-list {
	width: 60%;
	
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	margin: 2em auto 2em;
	padding:20px;
}

#map-list #navcontainer { width: 100%; }

#welcome {
	width: 70%;
	background: #efefef;
	-moz-border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	border-radius: 1.5em;
	margin: 2em auto 2em;
	padding:20px;
	text-align: center;
}

#map-list h1 {
	text-align: center;
}

#map-list a.new-map {
	margin-left: 30px;
}

ul.maps > li{
	list-style-type:none;
	margin:0 0 10px 0;
	padding:8px 10px 0 10px;
	border:1px solid #ddd;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	}
	
ul.maps > li.maplist {
	background:url(../images/public.png) 6px 9px no-repeat;
	background-color: #fafafa;
	}

ul.maps .mapbody{
	width:100%;
	margin-top:8px;
	margin-left:-10px;
	padding:5px 10px 5px 10px;
	border-top:1px solid #eee;
	background-color:#f1f1f1;
	background:#fafafa;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fafafa',endColorstr='#efefef');
	background:-webkit-gradient(linear,left top,left bottom,from(#fafafa),to(#efefef));
	background:-moz-linear-gradient(top,#fafafa,#efefef);
	-webkit-border-bottom-right-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomright:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-right-radius:4px;
	border-bottom-left-radius:4px;
	}

ul.repositories>li.simple{padding-bottom:8px;margin:0 0 3px 0;}
ul.repositories li.simple .body{display:none;}

ul.maps p.remove-map {

	margin-top: 0pt;
	margin-right: 5pt;
	margin-bottom: 3px;
	margin-left: 0pt;
	font-size: 12px;
	color: #444444;
	float:right;
}

ul.maps .mapspace {
	height: 10px;
}



ul.maps h3 {
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	padding-left: 18px;
	font-size: 14px;
	white-space: nowrap;
}

ul.maps h3 a {
	color: #4183c4;
	text-decoration: none;
}

ul.maps h3 a:hover {
	text-decoration: underline;
}

ul.mapstats li {
	list-style-type: none;
	display: inline-block;
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;

}

ul.maps ul.mapstats{position:relative;float:right;border:none;font-size:11px;font-weight:bold;padding-left:15px;background:url(/images/modules/pagehead/actions_fade.png) 0 0 no-repeat;z-index:5;}
ul.maps ul.mapstats li{border:none;color:#666;}
ul.maps ul.mapstats li a{color:#666!important;border:none;background-color:transparent;background-position:5px -2px;}
ul.maps h3{margin:0;padding-left:18px;font-size:14px;white-space:nowrap;}
ul.maps li.simple h3{display:inline-block;}

ul.maps p.updated-at {
	margin-top: 0pt;
	margin-right: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	font-size: 11px;
	color: #888888;
}

table {
	margin: auto;
}

.path-set {
	padding-top: 20px;
}

